---
title: "Tags"
layout: default
permalink: "/tags.html"
---

<div class="row listrecent">
  <div class="section-title col-md-12 mt-4">
    <h2 id="tag-list">Tag list</h2>
  </div>
  <ul class="taglist mb-4">
    {% assign tags_list = site.tags %}
    {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
          <li>
            <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | url_escape | strip | replace: ' ', '-' }}">#{{ tag | camelcase }} ({{ site.tags[tag].size }})</a>
          </li>
        {% endfor %}
    {% else %}
        {% for tag in tags_list %}
          <li>
            <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag[0] | url_escape | strip | replace: ' ', '-' }}">#{{ tag[0] | camelcase }} ({{ tag[1].size }})</a>
          </li>
        {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
  </ul>

{% for tag in site.tags %}
<div class="section-title col-md-12 mt-4">
<h2 id="{{ tag[0] | replace: " ","-" }}">Tag <span class="text-capitalize">{{ tag[0] }}</span></h2>
</div>
{% assign pages_list = tag[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
</div>
